{% extends 'blog/base.html' %}

{% load static %}
{% block content %}

<div class="flex-container">
    <div class="article-detail">
        <img src="http://via.placeholder.com/800x500" alt="" class="article-img">
        <h1 class="article-heading">{{ blog.title }}</h1>
        <span class="author">Author:</span><h3 class="author-name">{{ blog.author }}</h3>
        <p class="posted-date">Posted Date: {{ blog.created_at }}</p>
        <p class="updated-date">Updated Date: {{ blog.updated_at }}</p>
        <article class="description">
            {{ blog.description }}
        </article>
    </div>
    
    <div class="author-details">
        <h3>Athor Details:</h3>
        <img src={% static 'images/profile-pic.png' %} height="400px" alt="" class="author-profile-pic">
        <hr/>
        <h5 class="author-firstname">First Name: {{ blog.author.first_name }}</h2>
        <h5 class="author-firstname">Last Name: {{ blog.author.last_name }}</h2>
        <h5 class="author-firstname">Email: {{ blog.author.email }}</h2>
    </div>
</div>

{% endblock %}