<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for blog in blogs %}
    <ul>
        <li>Title: {{ blog.title }}</li>
        <li>Description: {{ blog.description }}</li>
        <li>Author: {{ blog.author }}</li>
        <li>Created date: {{ blog.created_at }}</li>
        <li>Updated date: {{ blog.updated_at }}</li>
    </ul>
    {% endfor %}
</body>
</html>